.container
  .row

    .col-md-7
      .view.overlay.hm-white-light.z-depth-1-half
        img.img-fluid(src="http://mdbootstrap.com/images/proffesions/slides/socialmedia/img%20(2).jpg")
        .mask

    .col-md-5
      h2.h2-responsive MindHive
      hr
      p Bringing talent to the masses
      a.btn.btn-primary Learn more...

  hr.extra-margins

  .row

    .col-md-4
      .card
        .view.overlay.hm-white-light
          img.img-fluid(src="http://mdbootstrap.com/images/regular/city/img%20(2).jpg")
          a(href="#")
            .mask

        .card-block
          h4.card-title Card Title
          p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
          a.btn.btn-primary(href="#") Read more

    .col-md-4
      .card
        .view.overlay.hm-white-light
          img.img-fluid(src="http://mdbootstrap.com/images/regular/city/img%20(4).jpg")
          a(href="#")
            .mask
        .card-block
          h4.card-title Card Title
          p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
          a.btn.btn-primary(href="#") Read more

    .col-md-4

      .card
        .view.overlay.hm-white-light
          img.img-fluid(src="http://mdbootstrap.com/images/regular/city/img%20(8).jpg")
          a(href="#")
            .mask

        .card-block
          h4.card-title Card Title
          p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
          a.btn.btn-primary(href="#") Read more

