head

  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(http-equiv='x-ua-compatible', content='ie=edge')

  block headtitle
    title MindHive | Software Talent Services

  // Meta
  block headmeta
    meta(name='description', content='MindHive')
    meta(name='author', content='MindHive LLC')
    meta(name='keywords', content='softwawre development, software developers, software developer, software development company, software development services, custom software development, software engineer, webdesign, web designer, programmer, web designing, web designers, software company, programer, programmers, software companies, software development companies')

  // Font Awesome
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css')
  // Bootstrap core CSS
  link(href='css/bootstrap.min.css', rel='stylesheet')
  // Site's CSS
  link(href='css/site.min.css', rel='stylesheet')
  // Template styles
  link(href='css/style.css', rel='stylesheet')

  block headscripts
    script(src='js/jquery-2.2.3.min.js')

