include ../../mixins/module.pug
include ../../mixins/list.pug

// Additional Features
+modulesection()(class="wow fadeInDown")
  .row

    .col-md-4

      +piccardhead('#', '/img/col/city/img%20(12).jpg')(class='wow fadeInLeft')
        +listgroup()
          +checklistitem("Robotics")
          +checklistitem("Automation")
          +checklistitem("Artificial Intelligence")
          +checklistitem("IoT and Embedded Development")
          +checklistitem("Full-stack Development")
          +checklistitem("GPU development")
          +checklistitem("Scalable Cloud Processing")

    .col-md-4

      +piccardhead('#', '/img/col/city/img%20(14).jpg')(class='wow fadeInRight')
        +listgroup()
          +checklistitem("Microservices")
          +checklistitem("Service-Oriented Architectures")
          +checklistitem("Cloud Architectures")
          +checklistitem("Containers and Virtualization")
          +checklistitem("Hosted Code Repositories")
          +checklistitem("Continuous Integration")
          +checklistitem("Scalable Architectures")

    .col-md-4

      +piccardhead('#', '/img/col/city/img%20(14).jpg')(class='wow fadeInRight')
        +listgroup()
          +checklistitem("Penetration Testing")
          +checklistitem("Security Research")
          +checklistitem("Security Audits")
          +checklistitem("Hardening")
          +checklistitem("Embedded and IoT Security")
          +checklistitem("Anomaly Detection")
          +checklistitem("Forensics Analysis")

  br
  br
  br
  br
