include ../../mixins/module.pug
include ../../mixins/paragraph.pug
include ../../mixins/carousel.pug

// Examples of Use
+modulesection("About Us")(class="wow fadeInDown", id="about")
  .row

    .col-md-6.wow.fadeIn
      .row
        .col-md-12
          +lightparagraph("Who We Are")
            p
              | We are a US-based startup
              | <strong>headquartered in Denver, CO</strong>, focused
              | on delivering modern development solutions to businesses of all
              | sizes around the world.
          br

      .row
        .col-md-12
          +lightparagraph("Open Source Principled")
            p
              | We make contributions to open source software and hardware,
              | releasing our own tools and libraries with open source licenses.
            p
              | This is how we give back to the community and ensure that we
              | are providing best-in-class services.
          br

    .col-md-6
      +slider('ex2', 3)(class="carousel-fade wow fadeIn")
        +slide()(class='active')
          img(src='/img/col/city/img%20(3).jpg')
          +caption("The Technology")
            p
              | Using the latest technologies available, we provide
              | fast-to-market solutions, services, and prototypes for your
              | next big thing.
        +slide()
          img(src='/img/col/city/img%20(7).jpg')
          +caption("The Culture")
            p
              | We thrive on following the latest trends and knowing and
              | understanding the technologies. This gives us an edge over
              | the competition.
        +slide()
          img(src='/img/col/city/img%20(13).jpg')
          +caption("The Solution")
            p
              | There is no such thing as a one-size-fits-all solution
              | when it comes to development. We find the best technological
              | fit to solve what you're trying to accomplish.

