include ../../mixins/paragraph.pug
include ../../mixins/card.pug
include ../../mixins/form.pug

// Full Pic Background
.view.hm-black-strong
  .full-bg-img.flex-center

    .container
      #home.row

        // First column
        .col-lg-6
          .description.smooth-scroll
            +paragraph("The Larson Agency, LLC")(class="wow fadeInLeft")
              h5.wow.fadeInLeft(data-wow-delay='0.4s')
                | Development & Engineering Services
              p.wow.fadeInLeft(data-wow-delay='0.7s')
                | A forward-thinking firm&mdash;specializing in Robotics,
                | Artificial Intelligence, cloud architectures, the Internet of
                | Things, and the security of all such things&mdash;we will
                | help you bring your visions to life and securely connect them
                | with the world.
              br
              a.btn.btn-ptc.wow.fadeInLeft(href='#about', data-wow-delay='0.7s') Learn more

        // Second column
        .col-lg-6
          // Form
          +basiccard()(class="wow fadeInRight")
            // Body
            +contactform("Let's Start", "A New Project", "Get a Free Quote")
