include ../../mixins/paragraph.pug
include ../../mixins/card.pug
include ../../mixins/form.pug

// Full Pic Background
.view.hm-black-strong
  .full-bg-img.flex-center

    .container
      #home.row

        // First column
        .col-lg-6
          .description
            +paragraph("MindHive")(class="wow fadeInLeft")
              h5.wow.fadeInLeft(data-wow-delay='0.4s')
                | Bringing Talent to the Masses
              p.wow.fadeInLeft(data-wow-delay='0.7s')
                | A forward-thinking software services firm that will bring your visions to life.
              br
              a.btn.btn-ptc.wow.fadeInLeft(href='#about', data-wow-delay='0.7s') Learn more

        // Second column
        .col-lg-6
          // Form
          +basiccard()(class="wow fadeInRight")
            // Body
            +contactform()
            //- +subscribe()
