include ../../mixins/module.pug
include ../../mixins/card.pug

// Main Container
+modulesection("About Us")(class="wow fadeInDown", id="about")
  .row
    .col-md-4
      +piccard("Instant Talent", '#', '/img/col/city/img%20(2).jpg')(class="wow fadeInUp")
        p.card-text We've taken the time and done the research on finding the best candidates so that you don't have to.

    .col-md-4
      +piccard("Next Step", '#', '/img/col/city/img%20(8).jpg')(class="wow fadeInUp", data-wow-delay='0.4s')
        p.card-text Leave the resumes to your competitors as you move to the next step without having to worry about how it will get done.

    .col-md-4
      +piccard("Innovation", '#', '/img/col/city/img%20(4).jpg')(class="wow fadeInUp", data-wow-delay='0.2s')
        p.card-text Without the need for a hiring team, you can sit back and let us do the heavy lifting.  Where do you want to go next?

