include ../../mixins/module.pug
include ../../mixins/card.pug
include ../../mixins/paragraph.pug

// Main Container
+modulesection("About")(class="wow fadeInDown", id="about")
  .row
    .col-md-12(class="wow fadeIn")
      +lightparagraph("The Larson Agency, LLC")
        p
          | The Larson Agency, LLC (this site) is focused on the creation of
          | open source projects and tools that support the consultancy of
          | Bobby Larson.
          //- | You can find us on GitHub 
            a(href="https://github.com/TheLarsonAgency") here.
        br
        p
          | Here are some of Bobby's other endeavors:
        br
  .row

    .col-md-3(class="wow fadeInUp")
      +piccard("MyNameIsMana", 'http://mynameismana.com', '/images/Robot_toys.png')(class="wow fadeInUp", data-wow-delay='0.4s')
        p.card-text
          | Bobby's blog&mdash;This is where Bobby discusses his various endeavors,
          | experiments, and views on science and technology.
        a(href="http://mynameismana.com") My Name Is Mana

    .col-md-3(class="wow fadeInUp", data-wow-delay='0.2s')
      +piccard("RobotStudio", 'http://robot.studio', '/images/robot%20studio-winner-final-icon-color.png')(class="wow fadeInUp")
        p.card-text
          | RobotStudio is a startup focused on building on the latest tools
          | to support the creation of robotics, artificial intelligence,
          | data science, and the Internet of Things.
        a(href="http://robot.studio") RobotStudio

    .col-md-3(class="wow fadeInUp", data-wow-delay='0.4s')
      +piccard("MindHive", 'http://mindhive.tech', '/images/UrbanWindows.jpg')(class="wow fadeInUp", data-wow-delay='0.2s')
        p.card-text
          | Bobby is the founder of the MindHive consulting firm, focused on
          | creating proprietary solutions for clientele.
        a(href="MindHive") MindHive

    .col-md-3(class="wow fadeInUp", data-wow-delay='0.6s')
      +piccard("Social", 'http://bobby.social', '/images/8197548940_5500bfb2a9_k.jpg')(class="wow fadeInUp", data-wow-delay='0.2s')
        p.card-text
          | Bobby has several social profiles, including LinkedIn, Google+, and
          | he is the creator behind the "Robot Builders" Google Group.
        a(href="http://bobby.social") Connect With Bobby

